body {
  background-color:lighter gray;
}
.jumbotron {
  background-color:white;
  text-align:center;
}
.broadcast {
  border:10px;
  margin:10px;
  border-color:black;
  background-color:black;
}
.title1 {
  font-size:36px;
  font-style:oblique;
  margin-left:15%;
  margin-bottom:5px;

}
.apple {
  position:relative;
  margin-left:10%;
  background-color:black;
  max-height:10px;
}
.mediafeed {
  position:absolute;
  margin-left: 30%;
  height:35%;
  width:45%;

}

.dropdown:hover .dropdown-menu {
  display:block;
}