{% extends 'homepage.html' %}
{% load humanize %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Match Index</h1>
    </div>
    <div class="panel-body">

        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Game</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th>Location</th>
                    <th>Time</th>
                </tr>
            </thead>
            {% if object_list %}
            <tbody>
            {% for match in object_list %}
            {% if not filter or match.category.label == filter %}
            <tr>
                <td><a href="{% url 'match.detail' match.pk %}">{{ match.name }}</a></td>
                <td>{{ match.category }}: {{ match.game }}</td>
                <td>{{ match.owner }}</td>
                <td>{{ match.participants.all|length }} / {{ match.vacancies }}</td>
                <td>{{ match.location }}</td>
                <td>{{ match.time_start }} to {{ match.time_end }}<td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
            {% else %}
            <tfoot>
            Sorry, we couldn't find any matches fitting this description.
            </tfoot>
            {% endif %}
        </table>

    </div>
</div>
{% endblock %}