{% extends 'homepage.html' %}
{% load humanize %}

{% block content %}
<div class='panel panel-primary'>
    
    <div class="panel-heading">

        <h1 class="panel-title">{{ object.name }}</h1>
        
    </div>
    <div class="panel-body">
        <div class="btn-group" role="group" aria-label="...">
            <a href="{% url 'match.index' %}" class="btn btn-info">List <span class="glyphicon glyphicon-th-list"></span></a>
            {% if object.owner == user %}
            <a href="{% url 'match.update' object.pk %}" class="btn btn-default">Edit <span class="glyphicon glyphicon-pencil"></span> </a>
            <a href="{% url 'match.delete' object.pk %}" class="btn btn-danger">Delete <span class="glyphicon glyphicon-trash"></span> </a>
            {% else %}
            <a href="{% url 'compose' %}?preset=askfor&id={{ object.pk }}&sendto={{ object.owner.pk }}" class="btn btn-default">Request to Join <span></span></a>
            {% endif %}
        </div>
        <h2>Match Details</h2>
        <table class="table table-striped table-horizontal">
            <tr>
                <th>Initiated by</th>
                <td>{{ object.owner }}</td>
            </tr>
            <tr>
                <th>Game</th>
                <td>{{ object.game }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ object.category }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ object.participants.all|length }} / {{ object.vacancies }}</td>
            </tr>
            <tr>
                <th>Privacy Settings</th>
                <td>{{ object.privacy_settings }}</td>
            </tr>
            <tr>
                <th>Starting time</th>
                <td>{{ object.time_start|naturaltime }}</td>
            </tr>
            <tr>
                <th>Ending time</th>
                <td>{{ object.time_end|naturaltime }}</td>
            </tr>
        </table>
        
        <h2>Match Description</h2>
        <p>{{ object.description|linebreaks }}</p>
        
        <h2>Match Location</h2>
        <strong>Location: </strong> {{ object.location }} <br>
        <p>{{ object.location.full_text|linebreaks }}</p>
        
        <h2>Participants List</h2>
        <table class="table table-striped table-horizontal">
            {% if object.participants.all %}
            <tbody>
                <tr>
                    {% for p in object.participants.all %}
                    <td>{{ p }}</td>
                    {% cycle '' '' '' '' '</tr><tr>' %}
                    {% endfor %}
                </tr>
            </tbody>
            {% else %}
            <tfoot>
                <tr>
                    <td rowspan='2'>Nobody is participating in this match so far.</td>
                </tr>
            </tfoot>
            
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}
