<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
  <link rel="stylesheet" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block head %}
    {% endblock %}
</head>
<style>

</style>

<body>
    <script src = "{% static 'jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>

    {% block navbar %}
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">1v1 Meh</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Rankings</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Find Matches<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href='{% url "match.index" %}'>All categories</a></li>
                <li role="separator" class="divider"></li>
                {% for c in categories %}
                <li><a href='{% url "match.filtered" c.label %}'>{{ c }}</a></li>
                {% endfor %}
                <li role="separator" class="divider"></li>
                <li><a href="#">Suggest a new Category</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user %}
            <li><a href="#">Host a Tourney!</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome, {{ user }}! <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">View profile</a></li>
                <li><a href="#">View participating tournaments</a></li>
                <li><a href="#">View tournament results</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </li>
            {% else %}
            <li class="dropdown">
              <a href="#n" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Not logged in <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'login' %}">Log in <span class='pull-right glyphicon glyphicon-log-in'></span></a></li>
                <li><a href="/acc/register">Register <span class='pull-right glyphicon glyphicon-log-in'></span></a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      {% endblock %}
      </div>
    </nav>


    <div class="container container-fluid">
    {% block content %}
    <div class="jumbotron">
      <h1>Welcome to the 1v1!</h1>
      <p>A platform for games and tournaments</p>
    </div>
    <div class = "title1">
      Happening now:
      </div>
    <div class="jumbotron">
            <h3>Faze Clan vs Optic Gaming</h3>
            <p>Best of 5 Grand Finals at MLG 2015</p>
            <p><a href = "{% url 'login' %}" >Match Details</a></p>
            <p><a href="http://twitch.tv/" class="btn btn-primary" role="button">Watch Stream</a></p>
    </div>
    <div class ="newmatches">
        <h1>Upcoming matches:</h1>
        <p></p>
    </div>
    <div class = "oldmatches">
      <h1>Recent Matches:</h1>
      <div class="panel-body">
    <table class = "table">
        <thead>
            <tr>
                <th> # </th>
                <th> Tournament Name</th>
                <th> Time</th>
                <th> Details</th>
            </tr>
        </thead>
        <tbody>
            <th scope = "row">1</th>
            <td> MLG World Finals</td>
            <td>2 hours ago</td>
            <td><a href = "google.com"> Details </a></a></td>
        </tbody>
    </table>
  </div>
      </div>
    {% endblock %}
    </div>

    {% block other %}

    {% endblock %}
</body>
</html>