{% extends 'homepage.html' %}
{% block content %}

  <div class="panel-body">
    <table class = "table">
        <thead>
            <tr>
                <th> # </th>
                <th> Name</th>
                <th> Points</th>
                <th> Win %</th>
            </tr>
        </thead>
        <tbody>
            <th scope = "row">1</th>
            <td> Bob the Builder</td>
            <td>69000</td>
            <td>43</td>
        </tbody>
    </table>
  </div>

  <!-- Table -->
  <table class="table">
  </table>
{% endblock %}